*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --colorOne: #2E3192;
  --colorTwo: #1BFFFF;
  --colorThree: #62afaf;
  --colorFour: #63a063;
}


.bg-container {
  /* min-height: 80vh; */
  /* background: linear-gradient(to bottom, var(--colorThree), var(--colorFour), var(--colorTwo)); */
  /* display: flex; */
  /* justify-content: space-around; */
  /* align-items: center; */
  /* width: 100vw; */
  padding: 0px 100px;
  gap: 40px;
}

.credential-buttons{
  /* width: 100%; */
  text-align: center;
  /* display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 40px; */
  /* background-color: #2525ae91; */
  /* height: 80vh; */
  /* margin: 20px; */
  padding: 10px 5px;
  border-radius: 5px;
}

.credentials-image{
  width: 50vw;
  height: 70%;
  border-radius: 30px;
}

.login-button{
  background-color: gray;
  padding: 8px 12px;
  color: #000;
  border-radius: 5px;
  h3{
    font-size: 24px;
    font-family: "Playfair Display";
    font-weight: 600;

  }

  button{
    font-size: 16px;
    background-color: #000;
    border: none;
    padding: 6px 18px;
    border-radius: 5px;
    font-weight: 500;
    color: #fff;
  }
}
.button-size {
  margin-right: 20px;
}
.initial-page{
  background-image: linear-gradient(to left, #b825a4, #1f48cc);
  padding: 20px;
}
.header-text-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  color: white;
  font-family: "Playfair Display";
  padding-left: 40px;
  h4{
    font-weight: 600;
    text-decoration: underline;
  }
  h3{
    font-size: max(3vw, 30px);
    filter: brightness(200%);
    font-weight: 500;
    line-height: 1.2;
  }
  button{
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 8px 40px;
    font-size: 20px;
  }

  button:hover{
    background-color: #fff;
    color: #000;
  font-family: "Playfair Display";

  }
}
.initial-page-header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
  gap: 40px;
  font-family: "Playfair Display";

}
.initial-image{
  padding: none;
  width: 60%;
  height: 90%;
  border-radius: 20px;
  /* filter: brightness(70%); */
  box-shadow: 5px 5px 3px #868a94;
}
.initial-image1{
  padding: none;
  width: 60%;
  height: 90%;
  border-radius: 20px;
  /* filter: brightness(70%); */
  box-shadow: 5px 5px 3px #868a94;
}


